body {
    background-color: #252B42;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

.top {
    display: flex;
    flex-direction: column;

    background: 
    url("img/gradient.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
}

header {
    margin-top: 30px;
    height: 150px;
    width: 100%;
    z-index: 1000;
    
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1210px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: linear .2s;
}

.nav::after {
    content: "";
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity .2s linear;

}

.nav:hover {
    color: #F3CD03;
}

.nav:hover::after {
    opacity: 1;
    background-color: #F3CD03;
}

#color-placeholder::-webkit-input-placeholder {
    color: black
}

input.inp {
    width: 300px;
    height: 54px;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 19px;
    padding: 15px 30px;
}

.btn {
    text-align: center;
    padding: 15px;
    width: 150px;
   
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    background-color: #2091F9;
    color: #fff;
    transition: .2s linear;
}

.btn:hover {
    background-color: blue;
}

.btn2 {
    padding: 15px;
    width: 150px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    background-color: #2091F9;
    color: #fff;
    transition: .2s linear;
}

.btn2:hover {
    background-color: blue;
}



.subtitle {
    letter-spacing: 0.1px;
    padding-bottom: 17px;
    font-size: 22px;
    font-weight: 700;
}

.title {
    letter-spacing: 0.2px;
    padding-bottom: 27px;
    font-size: 55px;
    font-weight: 900;
}

.text {
    line-height: 20px;
    letter-spacing: 0.2px;
    padding-bottom: 90px;
    font-size: 16px;
    font-weight: 700;
}


.macbook {
    margin-top: 115px;
    margin-bottom: 135px;
}

/* second page */

.Product1 {
    padding-top: 95px;
    padding-bottom: 220px;
    display: flex;
    flex-direction: column;
}

.title-h2 {
    letter-spacing: 0.2px;
    padding-bottom: 27px;
    font-size: 47px;
    font-weight: 400;
}

.text-2 {
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 220px;
    font-size: 16px;
    font-weight: 700;
}

.content {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15px;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


.screen {
    align-self: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.items {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columnInfo {
    display: flex;
    flex-direction: column;
}

.headline {
    align-items: center;
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 17px;
}

.fa-times-circle {
    text-decoration: none;
    font-size: 35px;
    color: #2091F9;
}

.subtitle-2 {
    letter-spacing: 0.1px;
    font-size: 22px;
    font-weight: 700;
}

.textParagraph {
    line-height: 27px;
    letter-spacing: 0.2px;
    font-size: 18px;
    font-weight: 400;
}

/* third page */

.Product2 {
    padding: 100px 0;
}

.btns {
    margin: 0 auto;
    width: 400px;
    display: flex;
}

/* fourth page */

.Product3 {
    padding-top: 220px;
    padding-bottom: 165px;
}

.content-2 {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.human {
    align-self: center;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.subtext {
    padding-top: 41px;
    padding-bottom: 34px;
    color: #374754;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
}

.inp-btn {
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

/* fifth page */

.Product4 {
    padding-top: 90px;
    padding-bottom: 80px;
}

.partners {
    padding-bottom: 90px;
    max-width: 1050px;
    display: flex;
    justify-content: space-around;
    font-size: 60px;
    align-items: center;
    margin: 0 auto;
}

.fa-app-store-ios {
    color: #2091F9;
}

.fa-aviato {
    color: orange;
}

.fa-android {
    color: greenyellow;
}

.fa-yandex {
    color: red;
}

.fa-google {
    color: #fff;
}

.fa-apple {
    color: grey;
}

.fa-vk {
    color: blue;
}

/* sixth page */

.Pricing {
    padding-top: 110px;
    padding-bottom: 100px;
}

.left-column  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title-h1 {
    font-size: 55px;
    letter-spacing: 0.2px;
    font-weight: 900;
}

.text-4 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.text-3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.2px;
    padding-bottom: 19px;
}

/* seventh page */

.About {
    padding-top: 110px;
    padding-bottom: 100px;
}

.column-about {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 1200px;
}

.personal {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    width: 335px;
    height: 542px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ava {
    align-self: center;
    width: 149px;
    height: 149px;
}

.stars {
    margin: 0 auto;
    width: 146px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-star {
    color: #F3CD03;
    font-size: 25px;
}

.textLink {
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #252B42;
}

.textParagraph span {
    color: #374754;
}

.job {
    color: #374754;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1px;
}

.title2-h2 {
    letter-spacing: 0.2px;
    padding-bottom: 90px;
    font-size: 47px;
    font-weight: 400;
}

.btn2 span {
    padding-top: 80px;
}

/* Last page */

.Contact {
    padding-top: 210px;
    padding-bottom: 100px;
}

.pad {
    padding-bottom: 75px;
}

.social-icon {
    margin: 0 auto;
    width: 170px;
    display: flex;
    justify-content: space-between;
    font-size: 33px;
    padding-bottom: 75px;
}

.fa-twitter {
    color: #2091F9;
    transition: linear .2s;
}

.fa-twitter:hover {
    color: #F3CD03;
}

.fa-facebook-square {
    color: #2091F9;
    transition: linear .2s;
}

.fa-facebook-square:hover {
    color: #F3CD03;
}

.fa-instagram {
    color: #2091F9;
    transition: linear .2s;
}

.fa-instagram:hover {
    color: #F3CD03;
}

#map {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 0 auto;
    width: 871px;
    height: 341px;
}