body {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 40px;
    
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_prod {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: linear .2s;
}

.nav_prod::after {
    content: "";
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity .2s linear;

}

.nav_prod:hover {
    color: #2091F9;
}

.nav_prod:hover::after {
    opacity: 1;
    background-color: #2091F9;
}

.btn_inp {
    display: flex;
    justify-content: space-between;
    width: 437px;
}

#color-placeholder::-webkit-input-placeholder {
    color: black
}

input.in_email {
    width: 300px;
    height: 54px;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 19px;
    padding: 15px 30px;
}

.btn {
    padding: 18px 38px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    background-color: #2091F9;
    color: #fff;
    transition: .2s linear;
}

.btn:hover {
    background-color: blue;
}

.background {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    background: linear-gradient(43.85deg, #00F3B9 0.85%, #2187FF 80.37%);
}

.center {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.finger {
    padding-bottom: 17px;
    font-size: 22px;
    font-weight: 700;
}

.fast {
    padding-bottom: 27px;
    font-size: 55px;
    font-weight: 900;
}

.calend {
    padding-bottom: 90px;
    font-size: 16px;
    font-weight: 700;
}

