body {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

.top {
    display: flex;
    flex-direction: column;

    background: 
    url("img/gradient.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
}

.header {
    margin-top: 30px;
    height: 150px;
    width: 100%;
    z-index: 1000;
    
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1210px;
    margin: 0 auto;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: linear .2s;
}

.nav::after {
    content: "";
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity .2s linear;

}

.nav:hover {
    color: #2091F9;
}

.nav:hover::after {
    opacity: 1;
    background-color: #2091F9;
}

#color-placeholder::-webkit-input-placeholder {
    color: black
}

input.in_email {
    width: 300px;
    height: 54px;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 19px;
    padding: 15px 30px;
}

.btn {
    padding: 15px;
    width: 150px;
   
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    background-color: #2091F9;
    color: #fff;
    transition: .2s linear;
}

.btn:hover {
    background-color: blue;
}

.btn2 {
    padding: 15px;
    width: 150px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    background-color: #2091F9;
    color: #fff;
    transition: .2s linear;
}

.btn2:hover {
    background-color: blue;
}



.subtitle {
    letter-spacing: 0.1px;
    padding-bottom: 17px;
    font-size: 22px;
    font-weight: 700;
}

.title {
    letter-spacing: 0.2px;
    padding-bottom: 27px;
    font-size: 55px;
    font-weight: 900;
}

.text {
    line-height: 20px;
    letter-spacing: 0.2px;
    padding-bottom: 90px;
    font-size: 16px;
    font-weight: 700;
}


.macbook {
    margin-top: 115px;
    margin-bottom: 135px;
}

/* second page */

.middle {
    margin-top: 95px;
    margin-bottom: 220px;
    display: flex;
    flex-direction: column;
}

.title2 {
    letter-spacing: 0.2px;
    padding-bottom: 27px;
    font-size: 47px;
    font-weight: 400;
}

.text2 {
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 220px;
    font-size: 16px;
    font-weight: 700;
}

.mainPart {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15px;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


.screen {
    align-self: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mainText {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textPart {
    display: flex;
    flex-direction: column;
}

.titleIcon {
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 17px;
}

.fa-times-circle {
    text-decoration: none;
    font-size: 35px;
    color: #2091F9;
}

.subtitle2 {
    letter-spacing: 0.1px;
    font-size: 22px;
    font-weight: 700;
}

.textIcon {
    line-height: 27px;
    letter-spacing: 0.2px;
    font-size: 18px;
    font-weight: 400;
}

/* third page */

.middle2{
    margin: 100px 0;
}

.allbtn {
    margin: 0 auto;
    width: 400px;
    display: flex;
}

/* fourth page */

.middle3 {
    margin-top: 260px;
    margin-bottom: 165px;
}

.mainPart2 {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15px;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.human {
    align-self: center;
}

.mainText2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.subtext {
    padding-top: 41px;
    padding-bottom: 34px;
    color: #374754;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
}

.inpBtn {
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

